---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";

const allResourses = await getCollection("recursos");
const allTags = [
  ...new Set(allResourses.map((item) => item.data?.tags).flat()),
];
const tags = allTags.sort().filter((item: any) => item !== undefined);
---

<Layout title="Colecciones">
  <div class="py-24">
    <div class="relative z-20 max-w-6xl pt-10 mx-auto">
      <h1 class="px-3 mt-0 mb-12 font-serif text-3xl font-light text-center">
        Colecciones
      </h1>
      <div class="flex flex-wrap justify-center gap-3 px-3">
        {
          tags &&
            tags.map((tag) => (
              <a href={`/colecciones/${tag}`} class="btn !text-lg ghost !capitalize">
                {tag}
              </a>
            ))
        }
      </div>
    </div>
  </div>
</Layout>
