---
import Hero from '@/components/Hero/Hero.astro';
import SwiperByTags from '@/components/Swiper/SwiperByTags.astro';
import TagsAll from '@/components/TagsAll.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Colecciones">
	<div class="flex flex-col gap-6 py-16">
		<Hero title="Todas las colecciones" />
		<TagsAll />
	</div>
	<SwiperByTags />
</Layout>
