---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";

const allResourses = await getCollection("recursos");
const allTags = [
  ...new Set(allResourses.map((item) => item.data?.tags).flat()),
];
const tags = allTags.sort().filter((item: any) => item !== undefined);
---

<Layout title="Colecciones">
  <div class="wrapper">
    <div class="innerWrapper">
      <h1 class="title">Colecciones</h1>
      <div class="collectionList">
        {
          tags &&
            tags.map((tag) => (
              <a href={`/colecciones/${tag}`} class="btn ghost">
                {tag}
              </a>
            ))
        }
      </div>
    </div>
  </div>
</Layout>

<style>
  .wrapper {
    @apply py-24;
  }

  .innerWrapper {
    @apply relative z-20 max-w-6xl pt-10 mx-auto;
  }

  .title {
    @apply px-3 mt-0 mb-12 font-serif text-3xl font-light text-center;
  }

  .collectionList {
    @apply flex flex-wrap justify-center gap-3 px-3;
  }

  .btn {
    @apply !text-lg !capitalize;
  }
</style>
