---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero/Hero.astro";
import SwiperByTags from "@/components/Swiper/SwiperByTags.astro";

const allResourses = await getCollection("recursos");
const allTags = [
  ...new Set(allResourses.map((item) => item.data?.tags).flat()),
];
const tags = allTags.sort().filter((item: any) => item !== undefined);
---

<Layout title="Colecciones">
  <div class="wrapper">
    <div class="innerWrapper">
      <Hero title="Colecciones" />
      <div class="collectionList">
        {
          tags &&
            tags.map((tag) => (
              <a href={`/colecciones/${tag}`} class="btn ghost">
                {tag}
              </a>
            ))
        }
      </div>
    </div>
  </div>
  <SwiperByTags/>
</Layout>

<style>
  .wrapper {
    @apply py-24;
  }

  .innerWrapper {
    @apply relative z-20 max-w-6xl gap-6 flex flex-col pt-10 mx-auto;
  }

  .collectionList {
    @apply flex flex-wrap justify-center gap-3 px-3;
  }

  .btn {
    @apply !text-lg !capitalize;
  }
</style>
