---
import { getCollection } from 'astro:content';
import Pagination from '@/components/Pagination.astro';
import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/Hero/Hero.astro';
import ResoursesList from '@/components/Resourses/ResoursesList.astro';

export async function getStaticPaths({ paginate }: any) {
	const allResourses = await getCollection('recursos');
	return paginate(allResourses, { pageSize: 12 });
}

const { page } = Astro.props;
const currentPage = page.currentPage ?? 1;
---

<Layout
	title={`Cooparaje ${currentPage > 1 ? `— página ${currentPage} ` : ''}`}
>
	<main class="wrapper">
		<Hero title="Recursos" />
		<ResoursesList data={page.data}/>
		<Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
	</main>
</Layout>

<style>
	.wrapper {
		@apply flex flex-col gap-6 py-24;
	}

</style>
