<h1 class="title">Buscar recursos</h1>
<h2 class="subtitle">
	Escriba en el buscador y aguarde a que aparezcan resultados aproximados.
</h2>

<style>
	.title {
		@apply px-6 mb-4 font-serif text-4xl font-light text-left md:text-6xl;
	}

	.subtitle {
		@apply px-6 mb-2 font-sans text-lg font-light text-left md:text-xl;
	}
</style>
