---
import Layout from "@/layouts/Layout.astro";
import Search from "@/components/Search.astro";
import AllTags from "@/components/AllTags.astro";
import HeroHome from "@/components/Hero/HeroHome.astro";
import SwiperByTags from "@/components/Swiper/SwiperByTags.astro";
---

<Layout title="Cooparaje — colección de recursos">
  <div class="wrapper">
    <HeroHome />
    <Search />
  </div>
  <AllTags />
  <SwiperByTags/>
</Layout>

<style>
  .wrapper {
    @apply relative z-20 max-w-4xl pt-20 pb-6 mx-auto lg:pt-32;
  }
</style>
