---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import PageFindSearch from "../components/PageFind/PageFindSearch.astro";
import BlogList from "../components/PageFind/List.astro";
import AllTags from "@/components/AllTags.astro";
const allResourses = await getCollection("recursos");
---

<Layout title="Buscar videos">
  <div class="relative z-20 max-w-4xl pt-20 pb-6 mx-auto lg:pt-32">
    <h1 class="px-6 mb-4 font-serif text-4xl font-light text-left md:text-6xl">
      Buscar recursos
    </h1>
    <h2 class="px-6 mb-2 font-sans text-lg font-light text-left md:text-xl">
      Escriba en el buscador y aguarde a que aparezcan resultados
      aproximados.
    </h2>
    <PageFindSearch />
    <BlogList posts={allResourses} />
  </div>
  <AllTags/>
</Layout>
