<div id="search" class="p-6"></div>

<script>
  window.addEventListener("DOMContentLoaded", (event) => {
    new PagefindUI({
      element: "#search",
      debounceTimeoutMs: 500,
      resetStyles: false,
      translations: {
        placeholder: "Buscar",
        zero_results: "No se encontró el término [SEARCH_TERM]",
        clear_search: "Clear",
        load_more: "Cargar más resultados",
        search_label: "Buscar en este sitio",
        filters_label: "Filtros",
        many_results: "[COUNT] resultados para [SEARCH_TERM]",
        one_result: "[COUNT] resultado para [SEARCH_TERM]",
        alt_search:
          "Sin resultados para [SEARCH_TERM]. Mostrando en su lugar sobre [DIFFERENT_TERM]",
        search_suggestion:
          "Sin resultados para [SEARCH_TERM]. Pruebe con alguna alternativa",
        searching: "Buscando para [SEARCH_TERM]...",
      },
    });
  });
  window.addEventListener("keydown", (event) => {
    if (event.key === "/" || event.key === ".") {
      event.preventDefault();
      document.querySelector("div#search input").focus();
    }
  });
</script>

<style is:global>
  .pagefind-ui__results {
    @apply max-w-md md:max-w-full mx-auto;
  }
  .pagefind-ui__result {
    @apply border-stone-800 max-w-sm md:max-w-full gap-0 md:pt-1 md:pb-3 mx-auto flex-col md:flex-row !important;
  }

  .pagefind-ui__result-link,
  .pagefind-ui__result-excerpt,
  .pagefind-ui__message {
    color: #fff !important;
  }

  .pagefind-ui__result-title {
    @apply text-2xl font-serif !important;
  }

  .pagefind-ui__message,
  .pagefind-ui__result-excerpt {
    @apply text-lg font-sans !important;
  }

  .pagefind-ui__message {
    @apply justify-center;
  }

  .pagefind-ui__search-input {
    @apply text-stone-900 outline-none  placeholder-stone-600 ring-4 ring-transparent focus-visible:ring-sky-700 font-medium !important;
  }

  .pagefind-ui__search-input::placeholder {
    @apply text-stone-600 opacity-70 !important;
  }

  .pagefind-ui__result-thumb {
    @apply max-w-md min-w-full md:min-w-[280px] w-full lg:w-auto sm:max-w-[calc(120px*var(--pagefind-ui-scale))];
  }

  .pagefind-ui mark {
    @apply bg-amber-200 px-1 rounded-md text-stone-900 font-medium;
  }

  .pagefind-ui__button {
    @apply bg-stone-800 text-white border-stone-900 p-0 !important;
  }

  .pagefind-ui__result-image {
    width: 100% !important;
    height: auto !important;
    object-fit: cover;
  }

  @screen md {
    .pagefind-ui__result-image {
      display: block;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      font-size: 0;
      width: 100% !important;
      height: 100% !important;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .pagefind-ui__result-thumb.pagefind-ui__loading {
    @apply bg-stone-700 opacity-70 !important;
    margin-right: 2rem !important;
    aspect-ratio: 2/1 !important;
    min-width: 220px !important;
    margin-left: 1.75rem !important;
  }

  .pagefind-ui__result-inner {
    @apply md:ml-8;
  }
  .pagefind-ui__result-title.pagefind-ui__loading {
    @apply bg-stone-700 opacity-70 text-stone-700 !important;
  }

  .pagefind-ui__result-excerpt.pagefind-ui__loading {
    @apply bg-stone-700 opacity-70 text-stone-700 !important;
  }
</style>
