---
const { collectionTitle, title } = Astro.props;
---

{
  collectionTitle !== undefined ? (
    <div>
      <h2 class="title !text-center flex flex-col">
        <span class="text-6xl">{collectionTitle.data?.emoji}</span>
        <span class="text-2xl">{collectionTitle.data?.title}</span>
      </h2>
    </div>
  ) : (
    <h2 class="title">{title}</h2>
  )
}

<style>
  .title {
    @apply mb-6 font-serif text-4xl md:text-6xl font-light text-left capitalize;
  }
</style>
