---
import Header from "@/components/Header.astro";
import Navigation from "@/components/Navigation.astro";
import Offcanvas from "@/components/Offcanvas.astro";
import BaseHead from "@/components/BaseHead.astro";

import "@/styles/global.css";
import "swiper/css";
import "animate.css";

import "@fontsource/josefin-sans";
import "@fontsource/josefin-sans/600.css";
import "@fontsource/space-mono";
import "@fontsource/space-mono/700.css";
import "@fontsource/yeseva-one";

export interface Props {
  title: string;
  description?: string;
  image?: string;
  bodyClass?: string;
}
const {
  title,
  description,
  image = "https://images.ctfassets.net/hamax8g2qtd6/5lxJY8UHC6F25QmUVc6btE/23b074870555f77287daebdd9c19ec33/ogimage.jpg",
  bodyClass,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <BaseHead
      title={`Cooparaje | ${title ? `${title}` : ""}`}
      description={`${
        description
          ? `${description}`
          : "Espacio de colaboración libre"
      }`}
      image={image}
    />
    <link href="/_pagefind/pagefind-ui.css" rel="stylesheet" />
    <script src="/_pagefind/pagefind-ui.js" type="text/javascript"></script>
  </head>
  

  <body class={bodyClass}>
    <Offcanvas>
      <Navigation />
    </Offcanvas>
    <Header />
    <div data-pagefind-ignore class="appContainer">
      <slot />
    </div>
  </body>

  <style>
    .appContainer {
      @apply min-h-screen;
    }
  </style>
</html>
