---

import Header from "@/components/Header.astro";
import "@/styles/global.css";

import "@fontsource/josefin-sans";
import "@fontsource/space-mono";
import "@fontsource/yeseva-one";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link href="/_pagefind/pagefind-ui.css" rel="stylesheet" />
    <script src="/_pagefind/pagefind-ui.js" type="text/javascript"></script>
	</head>
	<body class="text-white bg-fixed bg-gradient-to-b from-stone-900 via-stone-800 to-stone-800/90">
		<Header/>
		<div data-pagefind-ignore>
      <slot />
    </div>
	</body>
</html>
